<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->

    @*<title>@ViewBag.Title - IPro</title>*@
    <title>VanPhucPro</title>
    @Styles.Render("~/public/css/userCommon")
    @RenderSection("css", required: false)
</head>
<body class="page-user">
    @Html.Partial("~/Views/PartialUser/_Header.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/PartialUser/_Footer.cshtml")
    <div id="call-ajax-fade">
    </div>
    <div id="call-ajax-content">
        <img src="~/public/img/common/page-loader.gif" class="img-loading-ajax" alt="loading" />
    </div>
    @Scripts.Render("~/public/js/userCommon")
    @RenderSection("scripts", required: false)
</body>
</html>
